body{
    background-color: yellow;
}

#container{
    text-align: center;
}

#text{
    font-size: 45px;
}
#controls{
    display: flex;
    justify-content: center;   
    gap: 15px;
    font-size: 20px;
}

button{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    font-size: 25px;
    background-color: yellow;
}
#MainContainer{
    border: solid 10px black;
    border-radius: 15px;
    width: 600px;
    height: 600px;
    margin: 10px auto 10px auto;
}

#MadeBy {
    font-size: 25px;
}
