body{
    background-color: lightgray;
}

#allcontent{
    gap:10px
}
#text{  
    text-align: center;
    font-size: 45px;
}

#MainContainer{
    border: solid 10px black;
    width: 550px;
    height: 500px;
    margin: 50px auto 10px auto;
}

#MadeBy {
    font-size: 20px;
    text-align: center;
}
